@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	font-family: 'Signika Negative', sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	background: #e0d8b0;
}
/* header css */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
	background: url(../imgs/header-food.jpg);
	background-size: cover;
	color: white;
	margin: 0 auto;
	width: 80%;
}
header h1 {
	font-size: 70px;
}
header h2 {
	font-size: 40px;
}
/* end of header css */
/* streaming food options */
#sct-container {
	align-items: center;
	display: flex;
	height: 80vh;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}
#sct-container .food-item {
	align-items: center;
	display: flex;
	height: 25vh;
	justify-content: center;
	width: 49%;
}
#sct-container .food-item .img-food {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#sct-container .food-item .food-name {
	color: white;
	font-size: 60px;
	position: absolute;
}
@media all and (max-width: 1080px) {
	header h1 {
		font-size: 50px;
	}
	header h2 {
		font-size: 30px;
	}
	#sct-container .food-item .food-name {
		font-size: 40px;
		inline-size: 120px;
		overflow-wrap: break-word;
	}
}
/* end streaming food options */
