@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Signika Negative', sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	background: #e0d8b0;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
	background: url(../imgs/header-food.jpg);
	background-size: cover;
	color: white;
	width: 100%;
}
header h1 {
	font-size: 70px;
}
header h2 {
	font-size: 40px;
}

section {
	align-items: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 10px;
}
section .row {
	align-items: center;
	display: flex;
	height: 25vh;
	justify-content: space-evenly;
	padding: 10px 0;
	width: 90%;
}
section .row:hover .plate {
	filter: blur(3px);
	opacity: 0.5;
	transform: scale(0.98);
	box-shadow: none;
}
section .row:hover .plate:hover {
	transform: scale(1);
	filter: blur(0px);
	opacity: 1;
	box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
section .row .plate {
	align-items: center;
	color: #ffffff;
	display: flex;
	font-size: 50px;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	width: 45%;
}
section .row .plate:hover {
	scale: 1.1;
}
.rice-beans {
	background: url(../imgs/rice-beans.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.arroz-pollo {
	background: url(../imgs/arroz-pollo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.bbq-ribs {
	background: url(../imgs/bbq-ribs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.wings {
	background: url(../imgs/wings.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.hamburguers {
	background: url(../imgs/hamburguer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.tacos {
	background: url(../imgs/tacos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.guacamole {
	background: url(../imgs/guacamole.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.red-salsa {
	background: url(../imgs/red-salsa.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
